/*=== posts ====*/

.posts .card-header .img-user {
  width: 40px;
  height: 40px;
}

.posts .card-header .user-profile-btn {
  cursor: pointer;
}
.posts .card-body {
  cursor: pointer;
}

.posts .card-body .time-ago {
  color: #717d7e;
  word-spacing: -2px;
}
/*===// posts //====*/

/*==== add post btn ====*/
.add-new-post {
  text-align: center;
  width: 50px;
  color: white;
  font-size: 30px;
  position: fixed;
  right: 7%;
  bottom: 10%;
  cursor: pointer;
  padding: 5px;
}

/*====// add post btn //====*/
